#first {
    height: 300px;
    background-color: blue;
    // margin: auto;
  }
  
  #second {
    height: 300px;
    background-color: red;
  }

  #third {
    height: 300px;
    background-color: purple; 
  }

  .col-md-11 {
      margin: auto;
  }